.header {
    display: grid;
    height: 4.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    grid-gap: 1.6rem;
    grid-auto-flow: column;
    align-items: center;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
    background-color: #FFF;
}
