<div class="grid">
    <app-metrics-item
        name="Total bubbles"
        [value]="metrics && metrics.totalBubbles"
    ></app-metrics-item>
    <app-metrics-item
        name="Hard bubbles"
        [value]="metrics && metrics.hardBubbles"
    ></app-metrics-item>
    <app-metrics-item
            name="Nodes"
            [value]="metrics && metrics.nodes"
    ></app-metrics-item>
    <app-metrics-item
        name="Height"
        [value]="metrics && metrics.height"
    ></app-metrics-item>
    <app-metrics-item
        name="Width"
        [value]="metrics && metrics.width"
    ></app-metrics-item>
    <app-metrics-item
            name="Time"
            [value]="metrics && metrics.time"
    ></app-metrics-item>
</div>
