<div class="grid">
    <app-statistic-item
        name="Total bubbles"
        [value]="statistic && statistic.totalBubbles"
    ></app-statistic-item>
    <app-statistic-item
        name="Hard bubbles"
        [value]="statistic && statistic.hardBubbles"
    ></app-statistic-item>
    <app-statistic-item
        name="Height"
        [value]="statistic && statistic.height"
    ></app-statistic-item>
    <app-statistic-item
        name="Width"
        [value]="statistic && statistic.width"
    ></app-statistic-item>
</div>
