<div class="wrapper">
    <mat-card class="block">
        <mat-card-header> <mat-card-title>Separating nodes</mat-card-title> </mat-card-header>
        <mat-card-content class="content">
            <table *ngIf="separatedNodeList">
                <thead>
                    <tr>
                        <td>Node</td>
                        <td>Count</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let node of (separatedNodeList | orderNode)">
                        <td>{{ node.label }}</td>
                        <td><input type="number" [(ngModel)]="node.count" /></td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</div>
