.button {
    height: 3.2rem;
    border-radius: 0.4rem;
    padding: 0.4rem 1.4rem;
    font-size: 1.3rem;
    font-weight: 600;
    transition: color, background-color 0.2s ease;
    border: none;
    outline-width: 0.1rem;
    box-sizing: border-box;
}

.button[styletype='accent'] {
    background-color: var(--color-button-accent);
    box-shadow: 0 0.4rem 1rem var(--color-button-accent-shadow);
    color: var(--color-button-accent-text);
}

.button[styletype='accent']:hover {
    background-color: var(--color-button-accent-hover);
    box-shadow: 0 0.8rem 1.6rem var(--color-button-accent-hover-shadow);
}

.button[styletype='accent']:active {
    background-color: var(--color-button-accent-pressed);
    box-shadow: 0 0.2rem 0.6rem var(--color-button-accent-pressed-shadow);
}

.button[styletype='accent']:disabled {
    background-color: var(--color-disabled);
    box-shadow: none;
}

.button[styletype='secondary'] {
    background-color: transparent;
    border: 0.1rem solid var(--color-button-secondary);
    color: var(--color-button-secondary);
}

.button[styletype='secondary']:hover {
    border-color: var(--color-button-secondary-hover);
    color: var(--color-button-secondary-hover);
}

.button[styletype='secondary']:active {
    border-color: var(--color-button-secondary-pressed);
    color: var(--color-button-secondary-pressed);
}

.button[styletype='secondary']:disabled {
    border-color: var(--color-disabled);
    color: var(--color-disabled);
}

.button[styletype='tertiary'] {
    color: var(--color-button-tertiary-text);
}

.button[styletype='tertiary']:hover {
    color: var(--color-button-tertiary-hover-text);
}

.button[styletype='tertiary']:active {
    color: var(--color-button-tertiary-pressed-text);
}

.button[styletype='tertiary']:disabled {
    color: var(--color-disabled);
}
