<div class="page">
    <app-header></app-header>

    <div class="content">
        <app-block class="graph" name="Graph">
            <app-gc-container></app-gc-container>
        </app-block>
        <app-block class="schedule" name="Schedule">
            <app-schedule-container></app-schedule-container>
        </app-block>
        <app-block class="nodes" name="Nodes">
            <app-node-list-container></app-node-list-container>
        </app-block>
        <app-metrics-container class="metrics"></app-metrics-container>
    </div>
</div>
