.page {
    display: grid;
    height: 100vh;
    grid-gap: 1.6rem;
    grid-template-rows: auto 1fr auto;
    background-color: var(--color-background);
    color: var(--color-text);
}

.content {
    display: grid;
    grid-template-rows: 2fr 1fr auto;
    grid-gap: 1.6rem;
    padding: 0 1.6rem;
}
