.node {
    user-select: none;
}

.node:hover .marker {
    transform: scale(1.1);
}

.marker {
    transition: 0.2s ease;
    transform-box: fill-box;
    transform-origin: 50%;
}

.label {
    text-anchor: middle;
    dominant-baseline: middle;
}
