#graph {
  height: 100%;
}

.node {
  fill: lightcoral;
  cursor: -webkit-grab;
}

.label {
  stroke: black;
  text-anchor: middle;
  alignment-baseline: middle;
}

.edge {
  stroke: lightcoral;
  stroke-width: 2;
}

.marker#arrow_active{
  fill: lightcoral;
}

.marker#arrow_inactive{
  fill: lightgray;
}

.edge.inactive {
  stroke: lightgray;
}

.node.inactive {
  fill: lightgray;
}
