<div class="grid">
    <ssw-metrics-item
        name="Total bubbles"
        [value]="metrics && metrics.totalBubbles"
    ></ssw-metrics-item>
    <ssw-metrics-item
        name="Hard bubbles"
        [value]="metrics && metrics.hardBubbles"
    ></ssw-metrics-item>
    <ssw-metrics-item
        name="Nodes"
        [value]="metrics && metrics.nodes"
    ></ssw-metrics-item>
    <ssw-metrics-item
        name="Height"
        [value]="metrics && metrics.height"
    ></ssw-metrics-item>
    <ssw-metrics-item
        name="Width"
        [value]="metrics && metrics.width"
    ></ssw-metrics-item>
    <ssw-metrics-item
        name="Time"
        [value]="metrics && metrics.time"
    ></ssw-metrics-item>
</div>
