table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td, th {
    height: 2.4rem;
    text-align: center;
    border: .1rem solid var(--color-border);
}

.value-editor {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 1rem;
    font-size: 1.4rem;
    box-sizing: border-box;
    color: var(--color-text);
}
